.video__subtitle {
    font-size: 14px;
    line-height: 15px;
    color: white;
    margin: 0 30px 30px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .video__subtitle {
        margin: 0 24px 24px;
    }
}