@import url(../intro/__title/intro__title.css);
@import url(../intro/__main-text/intro__main-text.css);
@import url(../intro/__statistic/intro__statistic.css);
@import url(../intro/__statistics/intro__statistics.css);
@import url(../intro/__statistic/_font/_bold/intro__statistic_font_bold.css);
.intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding: 0 100px 102px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .intro {
        padding: 0 48px 97px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 0 24px 97px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 0 16px 64px;
    }
}