.comments__quote {
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin: 0 0 24px;
}

@media screen and (max-width: 1023px) {
    .comments__quote {
        text-align: left;
        font-size: 16px;
        line-height: 23px;
        order: 3;
        margin: 0;
    }
}